runtime/component/nacs-be-spd/wsdl/S010010086.wsdl

<wsdl:definitions xmlns:s="http://esb.spdbbiz.com/services/S010010086" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapnc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://esb.spdbbiz.com/services/S010010086/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://esb.spdbbiz.com/services/S010010086/wsdl">
<wsdl:types>
<xsd:schema targetNamespace="http://esb.spdbbiz.com/services/S010010086/wsdl" elementFormDefault="qualified" attributeFormDefault="qualified">
<xsd:import namespace="http://esb.spdbbiz.com/services/S010010086" schemaLocation="S010010086.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ReqHeader">
<wsdl:part name="ReqHeader" element="s:ReqHeader"></wsdl:part>
</wsdl:message>
<wsdl:message name="RspLcyFcyDmdSvgCashTlly">
<wsdl:part name="RspLcyFcyDmdSvgCashTlly" element="s:RspLcyFcyDmdSvgCashTlly"></wsdl:part>
</wsdl:message>
<wsdl:message name="ReqLcyFcyDmdSvgCashTlly">
<wsdl:part name="ReqLcyFcyDmdSvgCashTlly" element="s:ReqLcyFcyDmdSvgCashTlly"></wsdl:part>
</wsdl:message>
<wsdl:message name="RspHeader">
<wsdl:part name="RspHeader" element="s:RspHeader"></wsdl:part>
</wsdl:message>
<wsdl:portType name="ESBServerPortType">
<wsdl:operation name="LcyFcyDmdSvgCashTlly">
<wsdl:input message="tns:ReqLcyFcyDmdSvgCashTlly"></wsdl:input>
<wsdl:output message="tns:RspLcyFcyDmdSvgCashTlly"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ESBServerSoapBinding" type="tns:ESBServerPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="LcyFcyDmdSvgCashTlly">
<soap:operation soapAction="urn:/LcyFcyDmdSvgCashTlly"/>
<wsdl:input>
<soap:header message="tns:ReqHeader" part="ReqHeader" use="literal"></soap:header>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:header message="tns:RspHeader" part="RspHeader" use="literal"></soap:header>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="S010010086">
<wsdl:port name="ESBServerSoapEndpoint" binding="tns:ESBServerSoapBinding">
<soap:address location="http://esb.spdbbiz.com:7701/services/S010010086"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>